.teams{
    background-color: #012F34;
    padding: 140px 0;
    position: relative;
    overflow: hidden;
    .teams__container{
        display: flex;
        .teams__title{
            font-size: 3rem;
            font-weight: 700;
            line-height: 53px;
            letter-spacing: 2px;
            font-style: normal;
            color: $defaultColor;
            max-width: 445px;
            position: relative;
            padding: 65px 0px;


            &::before{
                @include before;
                background-color: #F67E7E;
                top: 10px;
            }
        }
        .teams__list{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin-left: 180px;
            .teams__list-item{
                display: flex;
                flex-direction: row;
                align-items: center;
                .teams__item-left{
                    position: relative;
                    .teams__item-img{
                        z-index: 10;
                        top: 0;
                        left: 0;
                        position: absolute;
                    }
                    .circle{
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        border: none;
                        background-color: #2C6269;
                        position: absolute;
                        z-index: 1;
                        top: 15px;
                        left: 15px;
                    }
                    
                }
                .teams__item-text{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0px 0px 100px;
                    max-width: 430px;
                    margin-top: 30px;
                    h3{
                        color: #F67E7E;
                        font-weight: 700;
                        font-size: 1.125rem;
                        font-style: normal;
                    }
                    p{
                        color: $defaultColor;
                        line-height: 25px;
                        font-size: $defaultSize;
                        font-weight: 600;
                        font-style: normal;
                        margin: 0;
                    }
                }
            }
        }
    }
    .teams__img{
        position: absolute;
        right: -100px;
        bottom: 0px;
    }
}

@media only screen and (max-width: $tablet) {
    .teams{
        padding: 100px 0px;
        .teams__container{
            flex-direction: column;
            .teams__title{
                font-size: 2rem;
                line-height: 32px;
                padding: 40px 0px 60px;
            }
            .teams__list{
                width: 100%;
                margin: 0;
            }
        }
        .teams__img{
            top: 0px;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .teams{
        padding: 64px 0px;
        .teams__container{
            .teams__title{
                max-width: 240px;
            }
            .teams__list{
                max-width: 100%;
                margin: 0;
                padding: 0;
                .teams__list-item{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    text-align: center;
                    .teams__item-left{
                        margin-right: 70px;
                    }
                    .teams__item-text{
                        text-align: center;
                        padding: 50px;
                    }
                }
            }
        }
    }
}